<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routers</title>
</head>
<body>
    <article>
        <form method = "POST">
            <label for="chosen_interface">{{ hostname }} configuration:</label>
            <select name="chosen_interface" id="chosen_interface">
            {% for interface in interfaces.keys() %}
                <option value="{{ interface }}">{{ interface }}</option>
            {% endfor %}
            </select>
          </form>
    </article>
</body>
</html>