{% extends "base.html" %}
{% block title %}Routers {% endblock %}

{% block body %}
<body class="bg-secondary text-white">
<article>
  <form action="/interfaces" method="POST">
    <label for="chosen_host" class="display-4">Choose a router:</label>
    <select name="chosen_host" id="chosen_host" class="form-control form-control-lg">
      {% for host in hosts %}
      <option value="{{ host }}">{{ host }}</option>
      {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="Show interfaces" class="btn btn-dark btn-lg btn-block">
  </form>

</article>
</body>
{% endblock %}